* {
    margin: 0;
    padding: 0;
}

body {
    padding: 20px;
    background-color: black;
    color: white;
}

.LoadingProgress {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 80%;
    background: linear-gradient(90deg, red 0%, yellow 15%, lime 30%, cyan 50%, blue 65%, magenta 80%, red 100%);
    background-size: 200%;
    animation: moveGradient infinite linear;
}

@keyframes moveGradient {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -200% 0;
    }
}
